.background {
  background-image: url(background.png);
}

.logo {
  /* max 1280x400, padding-top: 25% */
  background-image: url(logo.png);
  background-size: auto 30%;
}

.progressBar {
  background-color: #FF5A26;
}

.splash {
  /* max 1280x400, padding-top: 25% */
  background-image: url(splash.png);
}

.watermark {
  background-image: url(watermark.png);
  background-size: auto 57px;
}
